.game-page__content {
    display: flex;
}

.game-page__content p {
    margin-top: 15px;
}

.secondary-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.genres-game-page {
    display: flex;
    align-items: center;
}

.game-page__left {
    width: 70%;
}

.game-page__right {
    width: 30%;
}

.game-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}